 ### Cargamos los datos del archivo games

In [10]:
import pandas as pd
import gzip
import json

In [11]:
steam_games = "../DataSets/steam_games.json.gz"

In [12]:
datos_games = []
with gzip.open(steam_games, 'rt', encoding='utf-8') as archivo_games:
    for linea in archivo_games:
        diccionario_linea_games = json.loads(linea)
        datos_games.append(diccionario_linea_games)
df_games = pd.DataFrame(datos_games)
df_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
columnas_deseadas = ['id', 'genres', 'app_name', 'release_date']
df_games = df_games[columnas_deseadas]

In [14]:
df_games = df_games.dropna()

In [15]:
df_games_desa = df_games.explode('genres')

In [16]:
df_desanidado = df_games_desa.reset_index(drop=True)

In [17]:
df_desanidado.to_csv('../DataSets/df_games_id.csv',index=False)

In [18]:
df_desanidado

           id      genres             app_name release_date
0      761140      Action  Lost Summoner Kitty   2018-01-04
1      761140      Casual  Lost Summoner Kitty   2018-01-04
2      761140       Indie  Lost Summoner Kitty   2018-01-04
3      761140  Simulation  Lost Summoner Kitty   2018-01-04
4      761140    Strategy  Lost Summoner Kitty   2018-01-04
...       ...         ...                  ...          ...
71492  610660       Indie        Russian Roads   2018-01-04
71493  610660      Racing        Russian Roads   2018-01-04
71494  610660  Simulation        Russian Roads   2018-01-04
71495  658870      Casual  EXIT 2 - Directions   2017-09-02
71496  658870       Indie  EXIT 2 - Directions   2017-09-02

[71497 rows x 4 columns]